<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruit Classifier</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Fruit Classifier</h1>
      </header>

      <form action="/api" method="POST" enctype="multipart/form-data">
        <input type="file" name="img" />
        <input type="submit" value="Predict" />
      </form>
    </div>
  </body>
</html>
