<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruit Classifier</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Fruit Classifier</h1>
      </header>
      <h2>{{ prediction }}</h2>
      <img
        src="data:image/jpeg;base64,{{ uploaded_image }}"
        alt="Uploaded Image"
      />
      <br /><br />
      <a href="/" class="home-button">Go to Home</a>
    </div>
  </body>
</html>
